@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
	background: #fafafa;
	color: #111111;
	font-family: 'Inter', sans-serif;
}